

.message-container{
    width: 80%;
    max-width: 1200px;
}

.message-container div {
    background-color: steelblue;
    padding: 5px;
}

.message-container div:nth-child(2n) {
    background-color: aqua;
}